/* styles.css */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(249,157,197);
background: radial-gradient(circle, rgba(249,157,197,1) 0%, rgba(255,243,246,1) 64%);
}

.container {
    text-align: center;
}

#titulo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #5c0303;
}

.duck {
    max-width: 100px;
    text-align: center;
    height: auto;
}

img {
    max-width: 50%;
    height: auto;
}
